* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    line-height: 32px;
}

.nav {
    color: black;
    /* background: #19312E; */
    padding-top: 30px;
    padding-bottom: 30px;
}

section {
    padding: 80px 15vw !important;
}

section:nth-of-type(2)>div {
    position: relative;
    margin: 0;
}

.scroll{
    margin-top: 30px !important;
}

section:nth-of-type(1) {
    min-height: 700px;
    padding: 0;
    padding-top: 15vh !important;
}


section:not(#projects)>.title {
    margin-bottom: 70px;
}

.boss {
    display: grid;
    grid-template-columns: auto auto;
}

.boss>.right {
    padding: 0 70px;
}

.boss>.left>img {
    height: auto;
    max-width: 100%;
}

#projects {
    padding-right: 0 !important;
}

.boss>.right>h3, .boss>.right>p {
    margin: 5px 0;
}

.boss>.right>p {
    font-style: italic;
}

.boss>.right>div {
    margin: 35px 0;
}

.boss>.right>button {
    border: solid black 1px;
    background-color: white;
    padding: 15px 30px;
}

.height-diff-up {
    width: fit-content !important;
}

.height-diff-down {
    width: fit-content !important;
}

.boss>.right>button>p {
    margin: 0;
}

.work>img {
    position: relative;
    width: 100%;
}

.work {
    position: relative;
}

.title:nth-of-type(2) {
    margin-top: 120px;
    margin-bottom: 90px;
}

.work>.info {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    transform: translate(20%, -50%);
    z-index: 1;
    background-color: #19312E;
    color: white;
    padding: 50px;
    font-style: italic;
    line-height: 32px;
}

.facts {
    margin: 130px auto;
    display: grid;
    grid-template-columns: auto 50%;
    position: relative;
    width: 90%;
}

.facts>.left>img {
    /* height: 100%; */
    margin-right: 30px;
}

.facts>.left {
    display: grid;
    grid-template-columns: auto auto;
}

.wid {
    width: 40%;
}

.facts>.left>div {
    display: inline;
    position: relative;
    height: 100%;
}

.facts>.right {
    padding: 0px 80px;
    align-self: center;

}

.facts>.left {
    position: relative;
}

.stat {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    width: max-content;
}

.stat > p:not(.num){
    font-size: 1.2rem;
}

.num {
    font-family: 'Philosopher', sans-serif;
    font-size: 4rem;
    margin: 50px 0;
    margin-right: 20px;
}

section:nth-of-type(5) {
    padding: 0 !important;
}

.height-diff-up-img, .height-diff-down-img{
    width: 90%;
}

#photos {
    /* Prevent vertical gaps */
    position: relative;
    display: block;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    align-items: top;
    justify-items: left;
    width: 100%;

}

#photos img {
    /* Just in case there are inline attributes */
    position: relative;
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    padding: 15px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

#photos img:hover{
    transform: scale(1.1);
}

/* #photos img:nth-of-type(2n + 1) {
    padding-bottom: 30px;
    padding-right: 10px;
} */

@media (max-width: 1400px) {
    .facts{
        width: 100%;
        grid-template-columns: 60% 40%;
    }
    .facts>.left {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 1200px) {
    #photos {
        grid-template-columns: repeat(4, 25%);
    }
}

@media (max-width: 1000px) {
    #photos {
        grid-template-columns: repeat(3, 33.33%);
    }
}

@media (max-width: 800px) {
    #photos {
        grid-template-columns: repeat(2, 50%);
    }
    .height-diff-up-img, .height-diff-down-img{
        width: 80%;
    }
}

@media (max-width: 400px) {
    #photos {
        grid-template-columns: repeat(1, 100%);
    }
}

@media(max-width: 1500px) {}

@media(max-width: 1300px) {}


@media(max-width: 900px) {

    * {
        line-height: 20px;
    }

    section {
        padding: 50px 10vw !important;
    }

    .boss {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .boss>.right {
        padding: 0;
    }

    .work>.info {
        width: 40vw;
        line-height: 20px;
        padding: 10px;
        font-size: 0.7rem;
    }

    .facts {
        margin: 90px 0;
        margin-bottom: 50px;
    }

    .facts>.left {
        padding: 50px 20px;
        position: relative;
        width: 100%;
        
    }

    .facts>.right {
        padding: 0;
    }

    .stat {
        text-align: center;
    }

    section:not(#projects)>.title {
        margin-bottom: 40px;
    }

    .facts>.left>img {
        /* width: 35vw; */
        width: 90%;
        margin: 0;
    }

    .facts>.left>div {
        margin: 0;
        justify-self: right;
        width: 100%;
    }

    .facts>.left>div>img:not(.rot) {
        /* width: 25vw; */
        margin: 0;
        width: 80%;
        display: block;
        margin-left: auto;
    }

    .facts {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }

    .wid {
        width: 50%;
    }

    .boss>.right>div {
        margin: 20px 0;
    }

    .boss>.right {
        margin: 20px 0;
    }

    .boss>.left>img {
        max-height: 300px;
    }

    section:nth-of-type(3) {
        min-height: 600px;
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
    }
}

@media(max-width: 450px) {}

@media(max-height: 700px) {}