* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #d8d8d8;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 19, 19);
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #19312E;
    scroll-snap-type: y mandatory;
}

.container {
    position: relative;
    /* width: 100vw; */
    /* overflow-x: hidden; */
}

.logo > img{
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    place-items: center;
    /* margin: 20px auto; */
    padding: 20px 7vw;
    left: 50%;
    transform: translate(-50%);
    color: white;
    z-index: 1;
    box-sizing: border-box;
}

.nav>.left {
    justify-self: left;
}

.nav>.right {
    justify-self: right;
}

.nav>div>p, .nav>div>div {
    position: relative;
    display: inline-block;
    margin: 20px 30px;
    cursor: pointer;
}

.nav>div>div {
    position: relative;
    /* margin: 20px auto; */
    width: max-content;
    padding: 15px 20px;
    cursor: pointer;
    border: solid 1px white;
}

section {
    position: relative;
    min-height: 700px;
    padding-top: 120px !important;
    padding-bottom: 120px !important;
    scroll-snap-align: start;
}

section:nth-of-type(1)>.center>img {
    pointer-events: none;
}

section:nth-of-type(1) {
    min-height: 100vh;
    padding: 0;
}

.parallax {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: -1;
}

.parallax>video, .slide-bg>img {
    height: 100%;
    object-fit: cover;
}

section:nth-of-type(5) {
    min-height: initial;
}

section:not(.without) {
    background-color: white;
}

.overlay:nth-of-type(1) {
    z-index: 1 !important;
}

.overlay.top {
    z-index: 0;
}

.center:nth-of-type(2) {
    z-index: 2;
}

.dark {
    background-color: #FBFAF8 !important;
}

.lotus-right {
    position: absolute;
    top: 10%;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.lotus-left {
    position: absolute;
    top: 10%;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.lotus-left>img {
    position: absolute;
    transform: translateX(-40%);
}

.lotus-right>img {
    position: absolute;
    right: -100px;
}

/* .parallax {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    z-index: -100
} */

/* .parallax {
    margin: 0;
    position: relative;
} */

/* video {
    width: 100%;
    max-width: 100%;
} */

/* .stretch {
    height: 2000px;
    background: tomato;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    margin-top: 800px;
} */

/* .parallax>video {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    visibility: visible;
    z-index: -1
} */

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.splide__slide>img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

section>.center {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 100%; */
    z-index: 1;
}

section>.center>div {
    position: relative;
    margin: 30px auto;
    width: max-content;
    padding: 20px 30px;
    cursor: pointer;
    border: solid 1px white;
}

section:nth-of-type(2) {
    padding: 100px 0;
}

section:nth-of-type(2)>div {
    position: relative;
    margin: 0 15vw;
    margin-right: 0;
}

.line {
    width: 20%;
    height: 1px;
    background-color: #B69B6E;
}

.title {
    position: relative;
    width: max-content;
}

.title-shift {
    position: relative;
    margin: 0 15vw;
    margin-right: 0;
    width: max-content;
}

.title>div:nth-of-type(1) {
    font-size: 1.3rem;
    color: #B69B6E;
}

.title>h1 {
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
}

.scroll {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    overflow: hidden;
    overflow-x: auto;
    margin: 30px 0;
    height: 100%;
}

.scroll>div {
    padding: 60px;
    padding-left: 0;
}

.scroll>div>img {
    margin-bottom: 30px;
}

.img-cont {
    position: relative;
    margin-bottom: 30px;
}

section:nth-of-type(3) {
    padding: 50px 15vw;
}

.section-split {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.section-right {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    /* width: 80%; */
    width: 100%;
    margin: 0 auto;
    justify-self: right;
}

.section-left {
    justify-self: left;
}

.section-left>p {
    width: 70%;
    margin-right: auto;
    line-height: 2;
}

.section-left>p:nth-of-type(3) {
    margin-bottom: 70px;
}

.section-left>a {
    text-decoration: underline;
    color: black;
}

.section-right>div {
    /* padding: 0 20px; */
    min-height: 50vh;
    height: 100%;
    width: 100%;
    justify-self: center;
}

.height-diff-up {
    position: relative;
    /* transform: translateY(-20%); */
    /* background: url("./img/section2-img1.jpg") no-repeat no-repeat center top; */
    /* background-size: contain; */
    /* margin-left: auto; */
    /* height: 200%; */
    top: -20%;
    /* overflow: hidden; */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 80% !important;
    height: 80% !important;
    margin: 0 auto;
}

.rot {
    z-index: 21;
}

.height-diff-down-img {
    position: relative;
    z-index: 20;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    object-fit: cover;
}

.height-diff-up-img {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.rot {
    position: absolute;
    top: 0;
    right: 0;
    /* transform: translate(35%, -50%);` */
    width: 20%;
}

.wid {
    width: 40%;
}

.height-diff-down {
    /* transform: translateY(20%); */
    top: 20%;
    position: relative;
    width: 80% !important;
    height: 80% !important;
    margin: 0 auto;
}

.saying {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    color: #B69B6E;
    text-align: center;
}

.title:nth-of-type(2) {
    margin-bottom: 20px;
}

.saying>div {
    font-family: 'Philosopher', sans-serif;
    font-size: 2rem;
}

.splide__slide>.item>img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 40px;
    transform: translate(0, -50%);
}

.splide__slide>.item {
    position: relative;
    width: 40vw;
    background-color: #FBFAF8;
    margin: 20px 130px;
    margin-bottom: 150px;
    padding: 50px 50px;
    padding-bottom: 0;
    transition: all 0.2s linear;
}

.person>div>p {
    color: #9A9A9A;
}

.person>div>h1 {
    color: #B69B6E;
}

.person>div>h1 {
    margin: 0;
    font-family: 'Philosopher', sans-serif;
}

.splide__slide>.item>img {
    display: block;
}

.person {
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
    justify-items: left;
    align-items: center;
    padding: 20px 0 50px 0;
}

.person>div:first-of-type>img {
    position: relative;
    width: max-content;
    margin: 0px auto;
    border-radius: 100%;
}

section:nth-of-type(5) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

section:nth-of-type(5)>.center>h1 {
    font-size: 3rem;
    font-family: 'Philosopher', sans-serif;
    font-weight: 500;
}

.splide__list {
    margin: 100px 0 !important;
}

.splide__slide.is-active>.item {
    transform: scale(1.2);
}

section:nth-of-type(6) {
    background: #19312E;
    padding: 100px 15vw;
    color: white;
    min-height: 450px;
}

section:nth-of-type(6)>div:first-of-type {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: left;
}

section:nth-of-type(6)>div:first-of-type>div:last-of-type {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 100%;
}

section:nth-of-type(6)>div:first-of-type>div:first-of-type>p {
    margin-top: 120px;
}

section:nth-of-type(6)>div:first-of-type>div:first-of-type>img {
    width: 80%;
}

section:nth-of-type(6)>div:first-of-type>div:last-of-type > div > p{
    text-transform: capitalize;
}

.lotus-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.lotus-bottom > img{
    position: relative;
    display: block;
}

.shake-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    /* height: 100vh; */
    overflow-x: hidden;
}

.shake-container>div {
    position: relative;
    width: 100%;
    height: 100%;
}

.shake-container>div>img {
    position: relative;
    width: 100vw;
    height: 100%;
    transform-origin: center;
    object-fit: cover;
}

.top-shake>img {
    animation: right 30s infinite;
}

.bottom-shake>img {
    animation: left 30s infinite;
}

@keyframes right {
    0% {
        transform: scale(1.15, 1) translateX(0%);
    }

    25% {
        transform: scale(1.15, 1) translateX(5%);
    }

    75% {
        transform: scale(1.15, 1) translateX(-5%);
    }

    100% {
        transform: scale(1.15, 1)translateX(0%);
    }
}

@keyframes left {
    0% {
        transform: scale(1.15, 1) translateX(0%);
    }

    25% {
        transform: scale(1.15, 1) translateX(-5%);
    }

    75% {
        transform: scale(1.15, 1) translateX(5%);
    }

    100% {
        transform: scale(1.15, 1)translateX(0%);
    }
}

button.splide__pagination__page {
    width: 80px;
    height: 3px;
    border-radius: 0;
    margin: 20px;
    background: #19312ead;
}

button.splide__pagination__page.is-active {
    background: #000000;
}

@media(max-width: 1500px) {
    .nav {
        padding: 20px 10vw;
    }

}

@media(max-width: 1300px) {
    .nav {
        padding: 20px 5vw;
    }

    .nav>div>p, .nav>div>div {
        margin: 20px 15px;
    }

}


@media(max-width: 900px) {
    :root {
        font-size: 13px;
    }

    .no-mobile {
        display: none;
    }

    .nav {
        grid-template-columns: 100%;
    }

    .center>img {
        width: 80vw;
    }

    section:nth-of-type(3) {
        padding: 50px 5vw;
    }

    section:nth-of-type(2)>div {
        margin: 0 5vw;
    }

    .title-shift {
        margin: 0 5vw;
    }

    .section-split {
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        align-items: center;
    }

    .wid {
        width: 50%;
    }

    .section-right {
        padding-top: 100px;
    }

    .section-left>p {
        width: 90%;
        margin-right: auto;
    }

    .saying {
        margin: 50px auto;
        margin-top: 350px;
        width: 80%;
    }

    .splide__slide>.item {
        position: relative;
        width: 60vw;
    }

    /* .splide__slide>.item>img:nth-of-type(1), .splide__slide>.item>img:nth-of-type(2) {
        width: 45px;
    } */

    .section-right {
        column-gap: 0;
    }

    /* .section-right>div>img {
        width: 35vw;
    } */
    section:nth-of-type(6) {
        padding: 20px 10vw;
    }

    /* section:nth-of-type(6)>.top {
        grid-template-columns: none;
    }

    section:nth-of-type(6)>.bottom {
        margin: 0 auto;
        grid-template-columns: none;
        place-items: center;
    }

    section:nth-of-type(6)>.bottom>div:nth-of-type(2) {
        margin: 20px 0;
        width: 100%;
    }

    section:nth-of-type(6)>.bottom>div:nth-of-type(2) {
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }

    section:nth-of-type(6)>.bottom>div:nth-of-type(2)>div {
        margin: 0 auto;
    } */
    

    section:nth-of-type(6)>div:first-of-type {
        display: grid;
        grid-template-rows: 60% 40%;
        grid-template-areas: 'top' 'bottom';
        grid-template-columns: none;
        justify-items: center;
    }

    section:nth-of-type(6)>div:first-of-type > div:first-of-type{
        grid-area: bottom
    }

    section:nth-of-type(6)>div:first-of-type > div:last-of-type{
        grid-area: top
    }

    section:nth-of-type(6)>div:first-of-type>div:last-of-type {
        grid-template-columns: repeat(2, 50%);
    }

    section:nth-of-type(6)>div:first-of-type>div:first-of-type>img {
        display: block;
        margin: 0 auto;
    }

    section:nth-of-type(6)>div:first-of-type>div:first-of-type>p {
        margin-top: 40px;
    }

    .person{
        grid-template-columns: none;
        grid-template-rows: auto auto;
        place-items: center;
    }

    .splide__list {
        margin: 0 !important;
        padding: 60px 0 !important;
        padding-top: 100px !important;
    }

    .person > div:first-of-type{
        padding-bottom: 20px;
    }

    button.splide__pagination__page {
        width: 30px;
        height: 3px;
        border-radius: 0;
        margin: 10px;
        background: #19312ead;
    }

    .lotus-left>img {
        width: 30vw;
    }

    .lotus-right>img {
        width: 30vw;
    }

    .lotus-bottom > img{
        width: 40vw;
    }

    .shake-container {
        min-height: 700px;
    }

    .lotus-right>img {
        position: absolute;
        right: -30px;
    }

    .title:nth-of-type(2) {
        margin-bottom: 0;
    }
}

@media(max-width: 450px) {
    .saying {
        margin-top: 200px;
    }
}

@media(max-height: 700px) {
    section:nth-of-type(1), section:nth-of-type(5) {
        min-height: 700px;
    }
}